dotenv==0.9.9
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9
langchain_huggingface==0.3.1
langchain_google_community==2.0.7
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
--extra-index-url https://download.pytorch.org/whl/xpu
sentence_transformers==5.1.0